<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>员工信息</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" type="text/css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js" charset="utf-8"></script>
		<style type="text/css">
			.layui-form-item{
				width: 100%;
				text-align: center;
			}
			.layui-textarea{
				text-align: center;
				margin-bottom: 5%;
			}
		</style>
	</head>
	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px; text-align: center;">
				  <legend>修改个人信息</legend>
				</fieldset>
				
				<form class="layui-form" lay-filter="example">

					<div class="layui-form-item">
						<div class="layui-inline">
						
							<label class="layui-form-label" style="color: red">姓名</label>
							<div  class="layui-input-inline">
								<input type="text" name="name" lay-verify="required" placeholder="姓名" autocomplete="off"
									   class="layui-input" id="nameval" readonly="readonly" style="color: red">
							</div>
								
							<label class="layui-form-label" style="color: red">姓名首字母</label>
							<div  class="layui-input-inline">
								<input type="text" name="py" placeholder="姓名首字母" lay-verify="required" autocomplete="off"
									   class="layui-input" id="pyval" readonly="readonly" style="color: red">
							</div>
							
							<label class="layui-form-label">生日</label>
							<div class="layui-input-inline">
								<input type="text" name="birthday" id="date" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>

					<div class="layui-form-item">
							<div class="layui-inline">

								<label class="layui-form-label">身份证号码</label>
								<div  class="layui-input-inline">
									<input type="text" name="cardno" placeholder="身份证号码" autocomplete="off"
										   class="layui-input" id="cardval">
								</div>

								<label class="layui-form-label">住址</label>
								<div  class="layui-input-inline">
									<input type="text" name="address" placeholder="住址" autocomplete="off"
										   class="layui-input" id="addressval">
								</div>

								<label class="layui-form-label">性别</label>
								<div class="layui-input-inline">
									<input type="text" name="sex" placeholder="性别" autocomplete="off"
										   class="layui-input" id="sexval">
								</div>

							</div>
						</div>
					
					<div class="layui-form-item">
						<div class="layui-inline">
						
							<label class="layui-form-label" style="color: red">部门</label>
							<div class="layui-input-inline">
								<input type="text" name="depart" placeholder="部门" autocomplete="off" class="layui-input"
									   id="departval" readonly="readonly" style="color: red">
							</div>
							
							<label class="layui-form-label">座机</label>
							<div  class="layui-input-inline">
								<input type="text" name="phone" placeholder="座机" autocomplete="off" class="layui-input" id="phoneval">
							</div>
							
							<label class="layui-form-label">手机</label>
							<div  class="layui-input-inline">
								<input type="text" name="mobile" placeholder="手机" autocomplete="off" class="layui-input" id="mobileval">
							</div>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-inline">

							<label class="layui-form-label">旧密码</label>
							<div  class="layui-input-inline">
								<input type="password" placeholder="旧密码" autocomplete="off" class="layui-input" id="oldPas">
							</div>

							<label class="layui-form-label">新密码</label>
							<div  class="layui-input-inline">
								<input type="password" name="password" placeholder="新密码" autocomplete="off" class="layui-input" id="newPas">
							</div>

							<label class="layui-form-label">确认密码</label>
							<div  class="layui-input-inline">
								<input type="password" placeholder="确认密码" autocomplete="off" class="layui-input" id="newPass">
							</div>

						</div>
					</div>
					
					<div class="layui-form-item">
						<div class="layui-input-block" style="text-align: center; width: 50%;margin-left: 25%;">
						    <textarea placeholder="输入备注" class="layui-textarea" name="memo" id="memoval"></textarea>
							<input type="text" name="code" autocomplete="off" class="layui-input layui-hide" id="codeval">
							<input type="text" name="deptid" autocomplete="off" class="layui-input layui-hide" value="1">
						</div>
					</div>

				    <div class="layui-input-block" style="text-align: center;">
				      <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">修改信息</button>
				    </div>
				
				</form>
			</div>
		</div>
		
		<script>
		layui.use(['form', 'laydate',"jquery"], function(){
			var form = layui.form,
			laydate = layui.laydate,
			$ = layui.$;

			var user = JSON.stringify(layui.sessionData('user'));
			var users = JSON.parse(user);
			console.log("打印信息users:" + JSON.stringify(users.userData));
			var data = JSON.parse(JSON.stringify(users.userData));
			console.log("打印信息data:" + data.optCode);
			console.log("打印信息optPWD:" + data.optPWD);
			var code = data.optCode;
			var pasd = data.optPWD;

			/**页面赋值**/
			$(function () {
				if (user != null && user != ""){
					if (users.userData != null && users.userData != ""){
						/**获取员工信息**/
						$.ajax({
							type:"POST",
							url:"/selectEmplByCode",
							data:{ code : data.optCode },
							dataType:'json',
							success:function (data) {
								if (data.result == "success"){
									layer.msg("获取信息成功!");
									console.log("打印信息data:" + JSON.stringify(data.employee));
									var userInfo = JSON.parse(JSON.stringify(data.employee));
									$('#nameval').val(userInfo.name);
									$('#pyval').val(userInfo.py);
									$('#date').val(userInfo.birthday);
									$('#cardval').val(userInfo.cardno);
									$('#addressval').val(userInfo.address);
									$('#sexval').val(userInfo.sex);
									$('#departval').val(userInfo.department);
									$('#phoneval').val(userInfo.phone);
									$('#mobileval').val(userInfo.mobile);
									$('#memoval').val(userInfo.memo);
									$('#codeval').val(userInfo.code);
								}else{
									layer.msg("获取信息失败!");
								}
							},
							error:function () {
								layer.msg("用户信息获取错误!");
							}
						});
					}else{
						window.location.href = "/login";
					}
				}else{
					window.location.href = "/login";
				}
			});
		  
		  /**监听提交**/
		  form.on('submit(demo1)', function(data){
		  	var requestData = JSON.stringify(data.field);	//json字符串
		    // layer.alert(requestData, {			//JSON.parse()转成json对象
		    //   title: '最终的提交信息'
		    // });
			  if ($('#oldPas').val().length != 0 ){
				  if ($('#oldPas').val() != pasd){
					  layer.alert("旧密码输入有误!");
				  }else if ($('#newPas').val().length == 0 || $('#newPass').val().length == 0){
					  layer.alert("密码不能输入空值");
				  }else if ($('#newPas').val() != $('#newPass').val()){
					  layer.alert("新密码两次输入不一致!");
				  }else{
					  $.ajax({
						  type:"POST",
						  url:"/resetPassword",
						  data:{
							  optPWD : $('#newPas').val(),
							  code : code,
						  },
						  success:function (data) {
							  if (data.result == "success"){
								  layer.alert("修改密码成功!",function(){
									  window.location.reload();//刷新页面
								  });
							  }else{
								  layer.alert("修改密码失败!",function(){
									  window.location.reload();//刷新页面
								  });
							  }
						  },
						  error:function () {
							  layer.msg("修改密码错误");
						  }
					  });
				  }
			  }else{
				  $.ajax({
					  type:"POST",
					  url:"/editEmployeeByCode",
					  data:{
						  edtiData : requestData,
						  code : data.optCode
					  },
					  dataType:'json',
					  success:function (data) {
						  if (data.result == "success"){
							  layer.alert("用户信息修改成功!",function(){
								  window.location.reload();//刷新页面
							  });
						  }else{
							  layer.msg("用户信息修改失败!");
						  }
					  },
					  error:function () {
						  layer.msg("用户信息修改错误!");
					  }
				  });
			  }
		    return false;
		  });

		  /**日期选择器**/
		  laydate.render({
		      elem: '#date'
		    });
		});
		</script>
	</body>
</html>
