<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>员工信息</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" type="text/css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js" charset="utf-8"></script>
		<style type="text/css">/**此处样式为解决表格单选显示不完全问题**/
			.laytable-cell-radio {
				padding: 10px 10px 0 10px;
			}
		</style>
	</head>
	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">
				<table class="layui-hide" id="table_user_info" lay-filter="user"></table>
			</div>
		</div>
		<script type="text/html" id="userToolbar">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteEmployee">删除员工信息</button>
				<button class="layui-btn layui-btn-sm" lay-event="addEmployee">员工信息录入</button>
				<button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="stopEmployee">停用员工账号</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="startEmployee">启动员工账号</button>
				<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="upUser">升级为管理员</button>
				<button class="layui-btn layui-btn-sm" lay-event="downUser">降为普通用户</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="resetPWD">重置账号密码</button>
			</div>
		</script>

		<script>
			layui.use('table', function() {
				var $ = layui.jquery,
					table = layui.table;
				table.render({
					elem: '#table_user_info',
					url: '/employeeList',			//获取数据源url
					title:"用户信息表",
					toolbar: '#userToolbar', //开启头部工具栏，并为其绑定左侧模板
					cols: [
						[
							{type: 'radio'},
							{field: 'code',title: '员工编号',sort: true},
							{field: 'name',title: '员工姓名',sort: true},
							{field: 'py',title: '助记码',sort: true},
							{field: 'department',title: '所属部门',sort: true},
							{field: 'cardno',title: '身份证号',sort: true},
							{field: 'sex',title: '性别',sort: true},
							{field: 'birthday',title: '生日',sort: true},
							{field: 'phone',title: '座机',sort: true},
							{field: 'mobile',title: '手机',sort: true},
							{field: 'address',title: '住址',sort: true},
							{field: 'isStop',title: '是否停用'},
							{field: 'memo',title: '备注',sort: true}
						]
					],
					limits: [15, 20, 25, 50, 100],
					limit: 15,
					page: true,
				});
				//头工具栏事件
				table.on('toolbar(user)', function(obj){
					var checkStatus = table.checkStatus(obj.config.id);

					switch(obj.event){			//删除员工信息
						case 'deleteEmployee':
							var data = checkStatus.data;	//获取到行数据
							var code = data[0]['code'];		//拿到code值
							if (data.length != 0){
								//layer.alert(JSON.stringify(data) +"Code值:" + code);
								$.ajax({
									type:"POST",
									url:"/delEmployee",
									data:{
										code : code
									},
									success:function (data) {
										if (data.result == "success"){
											layer.alert("用户删除成功!",function(){
												window.location.reload();//刷新父页面
											});
										}else{
											layer.alert("用户删除失败!",function(){
												window.location.reload();//刷新父页面
											});
										}
									},
									error:function () {
										layer.msg("用户删除错误");
									}
								});
							}else {
								layer.msg("请先选择要删除的员工");
							}
							break;
						case 'addEmployee':
							layer.open({
								type: 2
								,title: '添加用户' //不显示标题栏
								,area: ['70%', '70%']
								,shade: 0.8
								,id: 'userAdd' //设定一个id，防止重复弹出
								,moveType: 0 //拖拽模式，0或者1
								,content: '/addEmployeePage'
							});
							break;
						case 'stopEmployee':
							var data = checkStatus.data;	//获取到行数据
							var code = data[0]['code'];		//拿到code值
							if (data.length != 0){
								//layer.alert(JSON.stringify(data) +"Code值:" + code);
								$.ajax({
									type:"POST",
									url:"/stopEmployee",
									data:{
										code : code,
										stop : "1",
									},
									success:function (data) {
										if (data.result == "success"){
											layer.alert("账户禁用成功!",function(){
												window.location.reload();//刷新页面
											});
										}else{
											layer.alert("账户禁用失败!",function(){
												window.location.reload();//刷新页面
											});
										}
									},
									error:function () {
										layer.msg("账户禁用错误");
									}
								});
							}else {
								layer.msg("请选择要禁用的员工账号");
							}
							break;
						case 'startEmployee' :
							var data = checkStatus.data;	//获取到行数据
							var code = data[0]['code'];		//拿到code值
							if (data.length != 0){
								//layer.alert(JSON.stringify(data) +"Code值:" + code);
								$.ajax({
									type:"POST",
									url:"/stopEmployee",
									data:{
										code : code,
										stop : "0",
									},
									success:function (data) {
										if (data.result == "success"){
											layer.alert("账户启用成功!",function(){
												window.location.reload();//刷新页面
											});
										}else{
											layer.alert("账户启用失败!",function(){
												window.location.reload();//刷新页面
											});
										}
									},
									error:function () {
										layer.msg("账户启用错误");
									}
								});
							}else {
								layer.msg("请选择要启用的员工账号");
							}
							break;
						case 'upUser' :
							var datas = checkStatus.data;	//获取到行数据
							var codes = datas[0]['code'];		//拿到code值
							$.ajax({
								type:"POST",
								url:"/updateAdmin",
								data:{
									isAdmin : 1,
									optPWD : "",
									code : codes,
								},
								success:function (data) {
									if (data.result == "success"){
										layer.alert("账户更新为管理员成功!",function(){
											window.location.reload();//刷新页面
										});
									}else{
										layer.alert("账户更新为管理员失败!",function(){
											window.location.reload();//刷新页面
										});
									}
								},
								error:function () {
									layer.msg("账户更新管理权限错误");
								}
							});
							break;
						case 'downUser' :
							var datas = checkStatus.data;	//获取到行数据
							var codes = datas[0]['code'];		//拿到code值
							$.ajax({
								type:"POST",
								url:"/updateAdmin",
								data:{
									isAdmin : 0,
									optPWD : "",
									code : codes,
								},
								success:function (data) {
									if (data.result == "success"){
										layer.alert("账户更新为普通用户成功!",function(){
											window.location.reload();//刷新页面
										});
									}else{
										layer.alert("账户更新为普通用户失败!",function(){
											window.location.reload();//刷新页面
										});
									}
								},
								error:function () {
									layer.msg("账户更新管理权限错误");
								}
							});
							break;
						case 'resetPWD' :
							var datas = checkStatus.data;	//获取到行数据
							var codes = datas[0]['code'];		//拿到code值
							$.ajax({
								type:"POST",
								url:"/updateAdmin",
								data:{
									isAdmin : 5,
									optPWD : "RS",
									code : codes,
								},
								success:function (data) {
									if (data.result == "success"){
										layer.alert("账户重置密码成功!",function(){
											window.location.reload();//刷新页面
										});
									}else{
										layer.alert("账户重置密码失败!",function(){
											window.location.reload();//刷新页面
										});
									}
								},
								error:function () {
									layer.msg("账户重置密码错误");
								}
							});
							break;
					};
				});

			});
		</script>
	</body>
</html>
