<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.superviserCarMapper">

    <resultMap type="com.boot.damain.superviserCar" id="superviserCarResult">
        <result property="keyID" column="keyID"/>
        <result property="carno" column="carno"/>
        <result property="in_check" column="in_check"/>
        <result property="wj_start" column="wj_start"/>
        <result property="wj_end" column="wj_end"/>
        <result property="aj_start" column="aj_start"/>
        <result property="aj_end" column="aj_end"/>
        <result property="hj_start" column="hj_start"/>
        <result property="hj_end" column="hj_end"/>
        <result property="start_time" column="start_time"/>
        <result property="end_time" column="end_time"/>
        <result property="wj_usetime" column="wj_usetime"/>
        <result property="aj_usetime" column="aj_usetime"/>
        <result property="hj_usetime" column="hj_usetime"/>
        <result property="usetime" column="usetime"/>
        <result property="operator" column="operator"/>
        <result property="result" column="result"/>
    </resultMap>

    <!--获取30天内的数据-->
    <select id="seleListData" resultMap="superviserCarResult">
        select * from superviserCar where DATEDIFF(DAY , start_time , getdate()) &lt;= 30 order by keyID desc
    </select>

    <!--通过车牌号码模糊查询-->
    <select id="selectDataByCarNo" resultMap="superviserCarResult">
        select * from superviserCar where superviserCar.carno like '%'+#{carNo}+'%' order by keyID desc
    </select>

    <!--通过keyID精准查询-->
    <select id="selectDetailBykeyID" resultMap="superviserCarResult">
        select * from superviserCar where superviserCar.keyID = #{keyID}
    </select>

    <!--通过in_check字段获取数据-->
    <select id="selectByInCheck" resultMap="superviserCarResult">
        select * from superviserCar where in_check = #{inCheck}
        <if test="carNo != null and carNo != ''">
            AND carno like '%'+#{carNo}+'%'
        </if>
        order by keyID desc
    </select>

    <!--通过keyID更新车辆检查状态-->
    <update id="updateCarStatus">
        update superviserCar set in_check = #{check} , wj_start = #{wjStart} , wj_end = #{wjEnd}, aj_start = #{ajStart} , aj_end = #{ajEnd} ,
         hj_start = #{hjStart} , hj_end = #{hjEnd} , start_time = #{startTime} , end_time = #{endTime} , wj_usetime = #{wjUsetime} ,
         aj_usetime = #{ajUsetime} , hj_usetime = #{hjUsetime} , usetime = #{usetime} , result = #{result} where keyID = #{keyID}
    </update>


</mapper>