<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.tUserMapper">

    <resultMap type="com.boot.damain.tUser" id="tUserResult">
        <result property="AutoID" column="AutoID"/>
        <result property="OptCode" column="OptCode"/>
        <result property="OptName" column="OptName"/>
        <result property="OptPY" column="OptPY"/>
        <result property="OptPWD" column="OptPWD"/>
        <result property="bAdmin" column="bAdmin"/>
        <result property="Stop" column="Stop"/>
    </resultMap>

    <!--查询所有的用户-->
    <select id="selectListUser" resultMap="tUserResult">
        select * from tUser
    </select>

</mapper>